@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: Arial;
    margin: 0;
    background: #f7f7f7;
    color: #333;
}

header {
    text-align: center;
    padding: 30px 0;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn {
    background: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.85;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 18px;
}

.item-card {
    background: #fafafa;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.item-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

.outfit img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
